body {
	background: #cdc;
	color: #333;
	font-family: arial;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

a {
	color: #4272db;
}
a:link, a:active, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#container {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	margin: 40px auto;
	padding: 40px;
	width: 860px;
}

#header {
	color: seagreen;
	font-size: 22px;
	font-weight: bold;
	padding: 20px 0;
}

#banner {
	background: url(../img/banner.jpg) no-repeat;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 18px;
	font-weight: bold;
	height: 134px;
	margin-top: 55px;
	padding: 40px 25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#banner h1 {
	color: white;
	font-size: 22px;
	line-height: 1.4;
}

#maincontent {
	clear: both;
}

div.content {
	padding: 10px 0;
}

p {
	line-height: 2;
	margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
	color: steelblue;
}
h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 15px;
}

#nav {
	background-color: seagreen;
	border-radius: 5px;
	clear: both;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	list-style : none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#nav li {
	background-color: seagreen;
	border-right: 1px solid #fff;
	display: block;
	float: left;
	height: 30px;
	text-align: center;
	width: 120px;
}

#nav li.active {
	background-color: darkgreen;
}

#nav li.active a {
	color: #fff;
}

#nav a {
	color: #fff;
	display: block;
	line-height: 30px;
	text-decoration: none;
	width: 100%;
}

#nav a:hover {
	background-color: darkgreen;
	color: #fff;
}

#nav .light {
	color: #cdc;
}

#footer {
	border-top: 1px solid darkgreen;
	font-size: 14px;
	height: 15px;
	padding: 40px 0 20px;
	text-align: center;
}
#footer a {
	color: #777;
}
